In [1]:
import pandas as pd
import numpy as np
import glob

## An example of one machine folder:

In [2]:
machine = 'WSAWB02'
read_file = glob.glob(machine+'/*')

In [3]:
for i, xlsx_name in enumerate(read_file):
    print(xlsx_name) if i < 5 else _
print('.\n.\n.\n')

WSAWB02\WSAWB02_HAJ2JAI.xlsx
WSAWB02\WSAWB02_HEJQMAB.xlsx
WSAWB02\WSAWB02_HGJETAH.xlsx
WSAWB02\WSAWB02_HICXKAJ.xlsx
WSAWB02\WSAWB02_HJCZVAF.xlsx
.
.
.

## A read file example of one .xlsx:

In [4]:
df = pd.read_excel(read_file[0])

In [5]:
df.head()

,wsawindex_x,PROFILE_01,PROFILE_02,PROFILE_03,PROFILE_04,PROFILE_05,PROFILE_06,PROFILE_07,PROFILE_08,PROFILE_09,...,Diff_PROFILE_11,Diff_PROFILE_12,Diff_PROFILE_13,Diff_PROFILE_14,Diff_PROFILE_15,Diff_PROFILE_17,Diff_PROFILE_18,Diff_PROFILE_20,Diff_PROFILE_21,Diff_PROFILE_22
0,WSAWB0218010102,2018-01-01 05:51:49,-2.326,-0.39,5.869,23.12,22.83,22.85,23.12,22.66,...,0.00,0.00,0.00,0,0.000,0.0,0.00,0.00,0.00,0
1,WSAWB0218010102,2018-01-01 05:52:49,-2.728,-0.39,5.930,22.90,23.05,23.22,22.52,22.81,...,-0.12,0.44,0.39,-17,0.001,0.3,0.00,0.11,-0.21,6
2,WSAWB0218010102,2018-01-01 05:53:49,-3.106,-0.39,6.156,22.90,23.31,22.90,22.92,23.18,...,-0.14,-0.44,-0.26,-9,0.000,-1.2,0.00,-0.25,-0.06,22
3,WSAWB0218010102,2018-01-01 05:54:49,-3.496,-0.39,-0.158,23.33,22.90,23.14,23.16,22.90,...,0.00,0.33,0.02,-4,0.000,-0.1,0.00,0.20,-0.15,18
4,WSAWB0218010102,2018-01-01 05:55:49,-3.894,-0.39,9.455,22.63,23.03,22.92,22.94,22.68,...,0.00,-1.01,0.07,-5,0.000,-1.3,0.12,-0.07,0.44,10

## Example of reading all .xlsx to numpy:

In [6]:
for i, xlsx_name in enumerate(read_file):
    if i == 0:
        data = pd.read_excel(xlsx_name).values
        print(data.shape)
        continue
        
    tmp = pd.read_excel(xlsx_name).values
    print(tmp.shape) if i < 5 else _
    
    data = np.concatenate((data, tmp), axis=0)
print('.\n.\n.\n')

(825, 98)
(852, 98)
(853, 98)
(840, 98)
(837, 98)
.
.
.

## All the files are in 'data' now:

In [7]:
data.shape

(153728, 98)